@{
    Layout = "_MioLayout";
}



<div class="container bg-light mt-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid float-start mb-lg-0" src="https://media-cdn.tripadvisor.com/media/photo-s/11/81/2c/d1/il-locale.jpg" style="width:1000px;height:400px;" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Chi siamo?</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        </div>
    </div>
</div>